@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

/* RESET */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Bowlby One", sans-serif";

}

/* HERO BACKGROUND */
.hero {
  position: relative;
    height: 100vh;
    background: url('../images/grad\ pic.jpg') center/cover no-repeat;
}

/* DARK LEFT SIDE */
.hero::before {
    content: "";
    position: absolute;
    left: 10;
    top: 0;
    width: 55%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}

/* STRIPED RIGHT SIDE */
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;

    background:
    /* STRIPES (top layer) */
        repeating-linear-gradient(
            to right,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.15) 18px,
            rgba(255, 255, 255, 0.05) 18px,
            rgba(255, 255, 255, 0.05) 36px
        ),

        /* DARK BLUE BASE (underneath) */
        rgba(20, 40, 70, 0.6);
}

/* TEXT */
.name {
    position: absolute;
    color: white;
    z-index: 2;
    font-family: "chango", sans-serif;
}

.first {
    top: 35%;
    left: 9%;
    font-size: 100px;
}

.last {
    top: 50%;
    right: 9%;
    font-size: 100px;
}

.initials {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    letter-spacing: 5px;
    z-index: 2;
    font-size: 20px;
}

/* NAV BUTTONS */
.nav {
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.nav a {
    display: inline-block;
    margin: 25px;
    padding: 12px 30px;
    background: #9c5a6b;
    color: white;
    text-decoration: none;
    border: 2px solid #e6c5cc;
    font-size: 14px;
    letter-spacing: 1px;
}

.nav a:hover {
    background: #7e4554;
}